<header>
    <div id="left-section" class="btn-grp no-display">
        <button id="globe-btn" class="text-main-color" aria-label="Go to country picker">
            <i class="fa fa-globe large-icon"></i>
        </button>
        <button id="map-btn" class="text-main-color" aria-label="Go to map">
            <i class="fa fa-map large-icon"></i>
        </button>
    </div>

    <div id="center-section" class="no-display">
        <button id="rgn-title-btn" aria-label="Change region">
            <span id="rgn-name" class="regular-text bold-text"></span>
            <span id="rgn-name-arrow" class="text-main-color transform-transition arrow-down">
                <i class="fa fa-caret-down large-icon "></i>
            </span>
        </button>
    </div>

    <div id="right-section" class="btn-grp">
        <button id="filter-btn" class="text-main-color no-display" aria-label="Open gallery filter">
            <div class="flex-row justify-end">
                <i class="fa fa-filter large-icon"></i>
                <span id="filter-indicator" class="no-display"></span>
            </div>
        </button>
        <button id="region-info-btn" class="text-main-color no-display" aria-label="See region info">
            <i class="fa fa-info-circle large-icon"></i>
        </button>
        <button id="creator-btn" class="text-main-color color-transition" aria-label="See site info">
            <i class="fa fa-star large-icon"></i>
        </button>
    </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="components/header/header.css">