<header>
    <div id="left-section" class="btn-grp no-display">
        <button id="globe-btn" class="text-main-color large-icon">&#xf0ac</button>
        <button id="map-btn" class="text-main-color large-icon">&#xf279</button>
    </div>

    <div id="center-section" class="no-display">
        <button id="rgn-title-btn">
            <span id="rgn-name" class="regular-text bold-text" style="text-align: center;"></span>
            <span id="rgn-name-arrow"
                class="text-main-color large-icon transform-transition arrow-down">&#xf0d7</span>
        </button>
    </div>

    <div id="right-section" class="btn-grp">
        <button id="filter-btn" class="text-main-color large-icon no-display"> &#xf0b0
            <span id="filter-indicator" class="no-display"></span>
        </button>
        <button id="region-info-btn" class="text-main-color large-icon no-display">&#xf05a</button>
        <button id="creator-btn" class="text-main-color large-icon color-transition">&#xf005</button>
    </div>
    
	<!-- <script type="module" src="header.js"></script> -->
    <link rel="stylesheet" type="text/css" href="components/header/header.css">
</header>