:root {
  --main-color: #be0029;
  --text-color: #1F271B;
  --sml-text-size: 0.8rem;
  --reg-text-size: 1.2rem;
  --lrg-text-size: 1.5rem;
  --icn-text-size: 2.0rem;
  --xlrg-text-size: 2.4rem;
}

/* Fonts */
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Zen Maru Gothic;
  overflow-x: hidden;
}

/* General Text */
.main-title {
  color: var(--text-color);
  font-size: var(--xlrg-text-size);
  font-weight: bolder;
  vertical-align: bottom;
  padding: 0px;
  margin: 20px 0px;
  text-transform: uppercase;
  text-align: center;
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}

.sub-title {
  color: #611C35;
  font-size: var(--lrg-text-size);
  font-weight: lighter;
  vertical-align: bottom;
  padding: 0px;
}

.text-main-color{
  color: var(--main-color);
}

.large-icon{
  font-size: var(--icn-text-size);
  font-family: FontAwesome;
  cursor: pointer;
}

.regular-text{
  font-size: var(--reg-text-size);
}

.bold-text{
  font-weight: bold;
}

/* Topbar */
.top-bar {
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0px;
  padding: 70px 75px 20px 75px;
  position: fixed;
  background-color: transparent;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .top-bar {
    padding: 20px;
  }
}

 /* Sidebar */
 .sidebar-content {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  gap: 20px;
  visibility: hidden;
  overflow: auto;
  position: absolute;
  height: 100vh;
  max-width: 50vw;
  background-color: white;
  left: 0;
  top: 0;
  padding: 50px;
}

/* Prefecture info*/
.pref-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.transform-transition {
  transition: transform 0.5s ease-in-out;
}

.arrow-up {
  transform: scaleY(-1);
}

.arrow-down {
  transform: scaleY(1);
}

.slider {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 8px 15px -10px #00000050;
  max-height: 50vh;
  padding:  20px 20px 30px 20px;
  position: relative;
  transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  display: none;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
  .slider {
    padding: 20px 20px 10px 20px;
    max-height: 75vh;
  }
}

.pref-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-content: stretch;
}

@media only screen and (orientation: portrait) {
  .pref-info {
    flex-direction: column;
    overflow-y: auto;
  }
}

.pref-info-text {
  gap: 15px;
  overflow-y: auto;
}

.pref-info-handle {
  display: none;
}

@media only screen and (orientation: portrait) {
  .pref-info-text {
    gap: 15px;
    overflow-y: visible;
  }

  .pref-info-handle {
    display: block;
    height: 6px;
    width: 30vw;
    background-color: var(--main-color);
    color: var(--main-color);
    border-width: 0px;
    border-radius: 3px;
    margin: 15px auto;
    cursor: grab;
  }
}

/* Maps*/
.map-page {
  justify-content: center;
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
}

@media only screen and (orientation: portrait) {
  .map-page {
    padding: 10px;
  }
}

.japan-map {
  margin: auto;
  width: 70vw;
  max-height: 80vh;
}

@media only screen and (orientation: portrait) {
  .japan-map {
    margin-top: 30px;
    width: 100%;
  }
}

.mini-map{
  margin: 0px;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;
}

@media only screen and (orientation: portrait) {
  .mini-map {
    margin: 0px auto;
    width: 80vw;
    height: 80vw;
  }
}

/* Region List */
.region-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

@media only screen and (orientation: portrait) {
  .region-group {
    text-align: center;
  }
}

.region-text {
  color: var(--text-color);
  font-size: var(--lrg-text-size);
  font-weight: bold;
  vertical-align: bottom;
  padding: 0px 5px;
  text-transform: uppercase;
}

@media only screen and (orientation: portrait) {
  .region-text {
    padding: 0px;
  }
}

.pref-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 75px 0px 75px;
}

@media only screen and (orientation: portrait) {
  .pref-list {
    justify-content: center;
    padding: 0px 20px;
    gap: 10px;
  }
}

.prefecture-text {
  font-size: var(--reg-text-size);
  font-weight: normal;
  vertical-align: bottom;
  padding: 0px 5px;
  margin-bottom: 5px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
}

.locked-pref-text {
  color: lightgray;
}

.visited-pref-text {  
  box-shadow: inset 0 0 0 0 #be0029;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.visited-pref-text:visited, visited-pref-text:active {
  color: var(--text-color);
  background-color: white;
}

.visited-pref-text:hover {
  color: white;
  box-shadow: inset 500px 0 0 0 #be0029;
}

/* Polaroid */
.polaroid-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
  height: 315px;
  max-width: 255px;
  max-height: 315px;
  padding:  25px 10px 10px 10px;
  background-color: white;
  box-shadow: inset 8px 8px 20px FloralWhite, 8px 8px 20px #00000050;
  cursor: pointer;
  border-radius: 10px;
}

.polaroid-img {
  display: flex;
  filter: saturate(0.95);
  width: 230px;
  height: 235px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.portrait-img {
  width: 100%;
  height: auto;
}

.landscape-img {
  width: auto;
  height: 100%;
}

.polaroid-caption{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-content: space-between;
}

.polaroid-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
}

.rotate-left-1 {
  transform: rotate(4deg);
}

.rotate-left-2 {
  transform: rotate(8deg);
}

.rotate-left-3 {
  transform: rotate(6deg);
}

.rotate-left-4 {
  transform: rotate(10deg);
}

.rotate-right-1 {
  transform: rotate(-4deg);
}

.rotate-right-2 {
  transform: rotate(-8deg);
}

.rotate-right-3 {
  transform: rotate(-6deg);
}

.rotate-right-4 {
  transform: rotate(-10deg);
}

@media only screen and (orientation: portrait) {
  .rotate-left-1 {
    transform: rotate(-4deg);
  }
  
  .rotate-left-3 {
    transform: rotate(-6deg);
  }
  
  .rotate-right-1 {
    transform: rotate(4deg);
  }
  
  .rotate-right-3 {
    transform: rotate(6deg);
  }
}

.date-text {
  color: var(--text-color);
  font-weight: normal;
  vertical-align: bottom;
  text-align: center;
  font-size: var(--sml-text-size);
  margin: 0px;
}

.caption-text {
  color: var(--text-color);
  font-weight: normal;
  vertical-align: bottom;
  font-size: var(--reg-text-size);
}

.one-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.5em;
  text-align: center;
}

/* Gallery */
.gallery {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 175px;
}

.gallery-left {
  margin-right: 40%;
  margin-top: -175px;
}

.gallery-right {
  margin-left: 40%;
  margin-top: -175px;
}

@media only screen and (orientation: portrait) {
  .gallery-left {
    margin-right: 0%;
    margin-top: -25px;
  }
  
  .gallery-right {
    margin-left: 0%;
    margin-top: -25px;
  }

  .gallery {
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/* Timeline */
.timeline {
  display: none;
  grid: auto /50vw 50vw;
  justify-content: space-around;
  align-content: flex-start;
  position: absolute;
  
}

@media only screen and (orientation: portrait) {
  .timeline {
    visibility: hidden;
  }
}

.timeline-column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.timeline-column.left{
  border-right: 2px solid var(--text-color);
}

.timeline-column.right{
  margin-top: 140px;
}

.timeline-branch-grp {
  width: 50%;
  height: 10px;
  display: flex;
  gap: 0px;
  align-items: center;
  margin: 185px 0px;
}

.timeline-branch-grp.left {
  justify-content: end;
  translate: 50% 0px;
}

.timeline-branch-grp.right {
  justify-content: start;
  translate: -50% 0px;
}

.timeline-branch {
  width: 100%;
  color: var(--text-color);
  height: 2px;
  border-width:0;
  background-color: var(--text-color);
  z-index: -1;
}

.timeline-point {
  width: 10px;
  height: 10px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: fixed;
 }

.timeline-point.left {
  translate: 50% 0px;
}

.timeline-point.right {
  translate: -50% 0px;
}

/* Popup */
.hidden-popup {
  visibility: hidden;
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 0vw;
  height: 10vh;
  max-height: 75vh;
  background-color: white;
  border-radius: 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-size: var(--reg-text-size);
  font-weight: normal;
  text-align: start;
  padding: 50px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media only screen and (orientation: portrait) {
 .popup {
   padding: 20px;
   max-height: 70vh;
 }
}

.popup-content{
  overflow-y: auto;
  display: none;
  gap: 15px;
}

.popup-bg {
  background-color: #000000;
  opacity: 30%;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content:center;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
}

.popup-width {
  width: 50vw;
}

.popup-height {
  height: 50vh;
}

@media only screen and (orientation: portrait) {
  .popup-width {
    width: 80vw;
  }
  
  .popup-height {
    height: 70vh;
  }  
}

.close-button {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: white;
  border-radius: 5px;
}

/* Fullscreen picture */
.fullscreen-pic {
  transition: width 1.0s ease-in-out;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: flex-start;
  max-width: 70vw;
}

@media only screen and (orientation: portrait) {
  .fullscreen-pic {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
}

.fullscreen-arrow {
  margin: 20px;
  color: white;
}

.fullscreen-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 50px;
  width: 30vw;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  transition: margin-right 0.5s ease-in-out;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--main-color);
  border-width: 0px;
  margin: 0px auto;
  cursor: grab;
}

/* Other */
.transparent {
  opacity: 0%;
}

.opacity-transition {
  transition: opacity 0.5s ease-in-out;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.page-bg{
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

.loading-screen {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  opacity: 100%;
}

.loader {
  width: 200px;
  /* animation: spin 3.5s linear infinite;*/
  margin: auto auto;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.loader-dot {
  animation: loader-grow-shrink 2s ease-in-out infinite;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
}

@keyframes loader-grow-shrink {
  0% { 
    width: 0px;
    height: 0px;
  }
  50% { 
    width: 25px;
    height: 25px;
  }
  100% { 
    width: 0px;
    height: 0px;
  }
}

.loader-text {
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: default;
}

.loader-btn {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%
}

@media only screen and (orientation: landscape) {
  .portrait-only {
    display: none;
  }
}

.error-btn{
  display: none;
  cursor: pointer;
  width: 30vw;
  text-align: center;
  border-radius: 5px;
  background-color: var(--main-color);
}