:root {
  --main-color: 255, 125, 0, 1;
  --default-color: 255, 125, 0, 1;
  --jp-color: 190, 0, 41, 1;
  --tw-color: 0, 0, 149, 1;
  --au-color: 0, 132, 61, 1;
  --nz-color: 0, 0, 0, 1;
  --text-color: #1F271B;
  --sml-text-size: 0.8rem;
  --reg-text-size: 1.2rem;
  --lrg-text-size: 1.5rem;
  --xlrg-text-size: 2.2rem;
  --icn-text-size: 2.0rem;
  --lrg-icn-text-size: 4rem;
}

/* Fonts */
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../assets/fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Zen Maru Gothic;
  overflow-x: hidden;
}

/* General Buttons */
button {
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  cursor: pointer;
}

button:active {
  opacity: 50%;
}

.txt-btn {
  font-family: Zen Maru Gothic;
  font-size: var(--reg-text-size);
  padding: 10px;
  border-radius: 10px;
}

.highlight-btn {
  text-align: start;
  box-shadow: inset 0 0 0 0 rgba(var(--main-color));
  transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

.highlight-btn:hover,
.highlight-btn.active {
  color: white;
  box-shadow: inset 900px 0 0 0 rgba(var(--main-color));
}

/* General Text */
.text-main-color {
  color: rgba(var(--main-color));
}

.large-icon {
  font-size: var(--icn-text-size);
  font-family: FontAwesome;
  cursor: pointer;
}

.small-icon {
  height: 30px;
  width: 30px;
}

/* @media only screen and (orientation: portrait) and (max-width: 768px) {
  .filter-indicator {
    top: -1;
  }
} */


.inline-icon {
  font-family: FontAwesome;
  color: rgba(var(--main-color));
  cursor: pointer;
}

.in-btn-icon {
  font-family: FontAwesome;
  color: white;
}

.regular-text {
  font-size: var(--reg-text-size);
}

.bold-text {
  font-weight: bold;
}

.capitalize-text {
  text-transform: capitalize;
}

/* Official Region info*/
.drawer-handle {
  display: none;
}

@media only screen and (orientation: portrait) {
  .drawer-handle {
    display: block;
    height: 6px;
    width: 30vw;
    margin: 15px auto;
    border-width: 0px;
    border-radius: 3px;
    background-color: rgba(var(--main-color));
    color: rgba(var(--main-color));
    cursor: grab;
  }
}

/* Buttons */
.img-tag,
.filter-opt,
.action-btn {
  padding: 2px 5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: var(--reg-text-size);
  font-family: Zen Maru Gothic;
  text-align: center;
}

.filter-opt {
  border-color: rgba(var(--main-color));
  background-color: white;
  color: var(--text-color);
}

.filter-opt:hover,
.action-btn:hover {
  opacity: 50%;
}

.img-tag,
.filter-opt.active,
.action-btn {
  background-color: rgba(var(--main-color));
  color: white;
}

.img-tag {
  cursor: default;
}

.action-btn {
  padding: 5px 7px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

/* Popup */
.overlay {
  position: absolute;
  z-index: 10000;
}

.visibility-hidden {
  visibility: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-bg {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 40%;
}

.divider {
  margin: 0px auto;
  min-height: 2px;
  height: 2px;
  width: 100%;
  background-color: rgba(var(--main-color));
  color: rgba(var(--main-color));
  border-width: 0px;
}

.divider.filter {
  min-height: 1px;
  height: 1px;
  opacity: 50%
}

/* Other */
.arrow-up {
  transform: scaleY(-1);
}

.arrow-down {
  transform: scaleY(1);
}

@media only screen and (orientation: landscape) {
  .portrait-only {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .landscape-only {
    display: none;
  }
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.transparent {
  opacity: 0% !important;
  pointer-events: none !important;
}

.no-display {
  display: none !important;
}

.transform-transition {
  transition: transform 0.5s ease-in-out;
}

.opacity-transition {
  transition: opacity 0.5s ease-in-out;
}

.opacity-transform-transition {
  transition: opacity 0.5s ease-in-out, transform 0.25s ease-in-out, scale 0.25s ease-in-out;
}

.color-transition {
  transition: color 0.5s ease-in-out;
}

.page-bg {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.floating-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  background-color: rgba(var(--main-color));
  z-index: 200;
}

.justify-end {
  justify-content: end !important;
  flex-basis: 100% !important;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}