:root {
  --main-color: #be0029;
  --text-color: #1F271B;
}

/*#my-svg svg {
      transition: all 1s ease-in-out;
    }*/

.main-title {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: xx-large;
  font-weight: bolder;
  vertical-align: bottom;
  margin-right: 8px;
  padding: 0px;
}

.sub-title {
  font-family: Gill Sans;
  color: #611C35;
  font-size: large;
  font-weight: lighter;
  vertical-align: bottom;
  padding: 0px;
}

.region-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.region-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: large;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0px 5px;
}

.prefecture-text {
  font-family: American Typewriter;
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
}

.caption-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  text-align: center;
  padding: 5px;
}  

.locked-pref-text {
  color: lightgray;
}

.text-main-color{
  color: var(--main-color);
}

.visited-pref-text {  
  box-shadow: inset 0 0 0 0 #be0029;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.visited-pref-text:visited, visited-pref-text:active {
  color: var(--text-color);
  background-color: white;
}

.visited-pref-text:hover {
  color: white;
  box-shadow: inset 500px 0 0 0 #be0029;
}

.pref-pic {
  stroke: pink;
  fill: white;
  stroke-width: 30px;
  transition: color .3s ease-in-out;
}

.pref-pic:hover {
  fill: pink; 
}

.locked-pref-pic {
  stroke: none;
  fill: grey;
}

.img-border {
  display: inline-block;
  max-width: 300px;
  border: 4px solid lightgray;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  stroke: red;
  fill: blue;
}

.rotate_right1 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}

.rotate_right2 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
}

.rotate_right3 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari */
  transform: rotate(15deg);
}

.rotate_left1 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
}

.rotate_left2 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Safari */
  transform: rotate(-9deg);
}

.rotate_left3 {
  float: left;
  display: inline-block;
  -ms-transform: rotate(-16deg); /* IE 9 */
  -webkit-transform: rotate(-16deg); /* Safari */
  transform: rotate(-16deg);
}

.sidebar {
  visibility: hidden;
  overflow: scroll;
  position: absolute;
  height: 100%;
  max-width: 50%;
  background-color: white;
  left: 0;
  top: 0;
  padding: 50px;
}

.popup {
  position: fixed;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  visibility: hidden;
  pointer-events: none;
  padding: 0px;
  margin: 0px;
}

.popup-content {
  display: flex;
  flex-direction: column;
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: normal;
  font-weight: normal;
  text-align: start;
  gap: 10px;
  padding: 50px;
  pointer-events: none;
}

.popup-bg {
  background-color: #000000;
  opacity: 30%;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed; 
  visibility: hidden;
  align-items: center;
  justify-content:center;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  background-color: yellow;
}

.page-bg{
  display: flex;
  justify-content: center;
  /*width: 100%;*/
  margin: 0px;
  padding: 75px;
  flex-direction: column;
  max-height: 100%;
}
