.main-title {
  font-family: American Typewriter;
  color: #1F271B;
  font-size: x-large;
  font-weight: bolder;
  vertical-align: bottom;
  margin-right: 8px;
  padding: 0px;
  display: flex;
}

.sub-title {
  font-family: Gill Sans;
  color: #611C35;
  font-size: large;
  font-weight: lighter;
  vertical-align: bottom;
  /*margin: 50px;*/
  padding: 0px;
  display: flex;
}

.img-border {
  display: flex;
  border: 10px solid white;
  margin: 10px;
  padding: 0px;
  display: flex;
  max-height: 70% !important;
  max-width: 80% !important;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.page-bg{
  display: flex;
  justify-content: space-between;
  background-color: #BAE4FF;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px;
}
