:root {
  --main-color: #be0029;
  --text-color: #1F271B;
}

.main-title {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: xx-large;
  font-weight: bolder;
  vertical-align: bottom;
  margin-right: 8px;
  padding: 0px;
  text-transform: uppercase;
  opacity: 100%;
  transition: opacity 0.3s ease-in-out;
}

.sub-title {
  font-family: Gill Sans;
  color: #611C35;
  font-size: large;
  font-weight: lighter;
  vertical-align: bottom;
  padding: 0px;
}

.region-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.region-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: large;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0px 5px;
  text-transform: uppercase;
}

.prefecture-text {
  font-family: American Typewriter;
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
}

.caption-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  text-align: center;
}

.one-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.5em;
}

.date-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-weight: normal;
  vertical-align: bottom;
  text-align: center;
  font-size: x-small; 
  margin: 0px;
}

.locked-pref-text {
  color: lightgray;
}

.text-main-color{
  color: var(--main-color);
}

.visited-pref-text {  
  box-shadow: inset 0 0 0 0 #be0029;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  cursor: pointer;
}

.visited-pref-text:visited, visited-pref-text:active {
  color: var(--text-color);
  background-color: white;
}

.visited-pref-text:hover {
  color: white;
  box-shadow: inset 500px 0 0 0 #be0029;
}

.timeline-column{
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  justify-align: center; 
  width: 40%;
}

.timeline-branch-left {
  translate: 150px 200px;
  width: 50%;
  color: black;
  height: 2px;
  border-width:0;
  background-color: black;
  z-index: -1;
}

.timeline-branch-right {
  translate: -150px 109px;
  width: 50%;
  color: black;
  height: 2px;
  border-width:0;
  background-color: black;
  z-index: -1;
}

.polaroid-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 255px;
  height: 315px;
  max-width: 255px;
  max-height: 315px;
  padding: 10px;
  background-color: white;
  box-shadow: inset 8px 8px 20px beige, 8px 8px 20px lightgray;
}

.polaroid-img {
  filter: saturate(0.95);
  width: 230px;
  height: 235px;
  overflow: hidden;
}

.rotate-right1 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}

.rotate-right2 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
}

.rotate-right3 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari */
  transform: rotate(15deg);
}

.rotate-left1 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari */
  transform: rotate(-3deg);
}

.rotate-left2 {
  display: inline-block;
  float: left;
  -ms-transform: rotate(-9deg); /* IE 9 */
  -webkit-transform: rotate(-9deg); /* Safari */
  transform: rotate(-9deg);
}

.rotate-left3 {
  float: left;
  display: inline-block;
  -ms-transform: rotate(-16deg); /* IE 9 */
  -webkit-transform: rotate(-16deg); /* Safari */
  transform: rotate(-16deg);
}

.filter-btn {
  padding: 15px;
  border-radius: 10px; 
  transition: width .3s ease-in-out;
  background-color: thistle;
  cursor: pointer;
  font-size: normal;
  text-align: middle;
  height: 30px;
  align-content: center;
}

.sidebar-content {
  display: flex; 
  flex-direction: column; 
  align-content: start; 
  justify-content: start; 
  gap: 20px;
}

.sidebar {
  display: flex; 
  flex-direction: column; 
  align-content: start; 
  justify-content: start; 
  gap: 20px;
  visibility: hidden;
  overflow: scroll;
  position: absolute;
  height: 100%;
  max-width: 50%;
  background-color: white;
  left: 0;
  top: 0;
  padding: 50px;
}

.popup {
  self-align: center;
  self-justify: center;
  position: fixed;
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  visibility: hidden;
  pointer-events: none;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: normal;
  font-weight: normal;
  text-align: start;
  gap: 10px;
  padding: 50px;
  pointer-events: none;
}

.popup-bg {
  background-color: #000000;
  opacity: 30%;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed; 
  visibility: hidden;
  align-items: center;
  justify-content:center;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}

.page-bg{
  display: flex;
  justify-content: space-between;
  /*align-content: flex-start;
  /*width: 100%;*/
  margin: 0px;
  padding: 75px;
  flex-direction: column;
  overflow: scroll;
}
