:root {
  --main-color: #be0029;
  --text-color: #1F271B;
}

.main-title {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: xx-large;
  font-weight: bolder;
  vertical-align: bottom;
  margin-right: 8px;
  padding: 0px;
}

.sub-title {
  font-family: Gill Sans;
  color: #611C35;
  font-size: large;
  font-weight: lighter;
  vertical-align: bottom;
  padding: 0px;
}

.region-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex-wrap: nowrap;
}

.region-text {
  font-family: American Typewriter;
  color: var(--text-color);
  font-size: large;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0px 5px;
}

.prefecture-text {
  font-family: American Typewriter;
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
}

.locked {
  color: lightgray;
}

.text-main-color{
  color: var(--main-color);
}

a {  
  box-shadow: inset 0 0 0 0 #be0029;
  text-decoration: none;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:visited, a:active {
  color: var(--text-color);
  background-color: white;
}

a:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #be0029;
}

.img-border {
  display: flex;
  border: 10px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 0px;
  /*max-height: 50% !important;
  max-width: 50% !important;*/
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}

.page-bg{
  display: flex;
  justify-content: center;
  /*width: 100%;*/
  margin: 0px;
  padding: 75px 100px;
  flex-direction: column;
}
