:root {
  --main-color: 255, 125, 0, 1;
  --default-color: 255, 125, 0, 1;
  --jp-color: 190, 0, 41, 1;
  --tw-color: 0, 0, 149, 1;
  --au-color: 0, 132, 61, 1;
  --nz-color: 0, 0, 0, 1;
  --text-color: #1F271B;
  --sml-text-size: 0.8rem;
  --reg-text-size: 1.2rem;
  --lrg-text-size: 1.5rem;
  --xlrg-text-size: 2.2rem;
  --icn-text-size: 2.0rem;
  --lrg-icn-text-size: 4rem;
}

/* Fonts */
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('../assets/fonts/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Zen Maru Gothic;
  overflow-x: hidden;
}

/* General Buttons */
button {
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  cursor: pointer;
}

button:active {
  opacity: 50%;
}

.txt-btn {
  font-family: Zen Maru Gothic;
  font-size: var(--reg-text-size);
  padding: 10px;
  border-radius: 10px;
}

.highlight-btn {
  text-align: start;
  box-shadow: inset 0 0 0 0 rgba(var(--main-color));
  transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

.highlight-btn:hover,
.highlight-btn.active {
  color: white;
  box-shadow: inset 900px 0 0 0 rgba(var(--main-color));
}

#main-title {
  vertical-align: bottom;
  color: var(--text-color);
  font-family: Zen Maru Gothic;
  font-size: var(--xlrg-text-size);
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  opacity: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgba(var(--main-color));
  transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

@media only screen and (orientation: portrait) {
  #main-title {
    margin: 0px 50px;
  }
}

#main-title:hover {
  color: white;
  box-shadow: inset 100vw 0 0 0 rgba(var(--main-color));
}

/* General Text */
.text-main-color {
  color: rgba(var(--main-color));
}

.large-icon {
  font-size: var(--icn-text-size);
  font-family: FontAwesome;
  cursor: pointer;
}

.inline-icon {
  font-family: FontAwesome;
  color: rgba(var(--main-color));
  cursor: pointer;
}

.in-btn-icon {
  font-family: FontAwesome;
  color: white;
}

.regular-text {
  font-size: var(--reg-text-size);
}

.bold-text {
  font-weight: bold;
}

.capitalize-text {
  text-transform: capitalize;
}

/* Topbar */
.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  right: 0px;
  padding: 70px 75px 20px 75px;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .top-bar {
    flex-wrap: wrap;
    padding: 20px;
  }
}

.btn-grp {
  display: flex;
  gap: 10px;
  z-index: 5001;
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
  .btn-grp {
    justify-content: space-around;
    gap: 0px;
    flex-basis: 50%;
  }

  .btn-grp-left {
    flex-basis: 25%;
  }

  .btn-grp-right {
    flex-basis: 75%;
  }
}

.rgn-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (orientation: landscape) {
  #map-btn {
    margin-right: 70px;
  }
}

@media only screen and (max-width: 768px) {
  #rgn-title {
    margin: auto;
    order: 2;
  }
}

.rgn-drop-down {
  align-self: center;
  position: fixed;
  top: 110px;
  max-height: 250px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 5px 3px 0px #00000050;
  background-color: white;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .rgn-drop-down {
    top: 95px;
  }
}

/* Official Region info*/
/* .rgn-info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 50vh;
  box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 8px 15px -10px #00000050;
  transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
  background-color: white;
}

@media only screen and (orientation: portrait) {
  .rgn-info-container {
    max-height: 60vh;
    padding: 20px 20px 10px 20px;
  }
}

.rgn-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-content: stretch;
  overflow-y: auto;
}

@media only screen and (orientation: portrait) {
  .rgn-info {
    flex-direction: column;
  }
}

.rgn-info-text {
  gap: 15px;
  overflow-y: auto;
}

.drawer-handle {
  display: none;
}

@media only screen and (orientation: portrait) {
  .rgn-info-text {
    gap: 15px;
    overflow-y: visible;
  }

  .drawer-handle {
    display: block;
    height: 6px;
    width: 30vw;
    margin: 15px auto;
    border-width: 0px;
    border-radius: 3px;
    background-color: rgba(var(--main-color));
    color: rgba(var(--main-color));
    cursor: grab;
  }
} */

/* Country Picker */
.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: absolute;
  flex-wrap: nowrap;
  overflow-y: auto;
  background-color: white;
  padding: 75px 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
  .start-screen {
    gap: 15px;
  }
}

.start-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto 30px;
  cursor: pointer;
}

@media only screen and (orientation: portrait) {
  .start-btn {
    flex-direction: column;
    gap: 0px;
  }
}

.start-btn.jp {
  box-shadow: inset 0 0 0 0 rgba(var(--jp-color));
}

.start-btn.jp:hover {
  box-shadow: inset 100vw 0 0 0 rgba(var(--jp-color));
}

.start-btn.tw {
  box-shadow: inset 0 0 0 0 rgba(var(--tw-color));
}

.start-btn.tw:hover {
  box-shadow: inset 100vw 0 0 0 rgba(var(--tw-color));
}

.start-btn.au {
  box-shadow: inset 0 0 0 0 rgba(var(--au-color));
}

.start-btn.au:hover {
  box-shadow: inset 100vw 0 0 0 rgba(var(--au-color));
}

.start-btn.nz {
  box-shadow: inset 0 0 0 0 rgba(var(--nz-color));
}

.start-btn.nz:hover {
  box-shadow: inset 100vw 0 0 0 rgba(var(--nz-color));
}

.start-icon {
  height: 30px;
  width: 30px;
}

.start-icon.img {
  position: absolute;
}

.start-icon.animated {
  animation: spin-animation 0.5s ease-out 1;
}

@keyframes spin-animation {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.country-text {
  cursor: pointer;
  vertical-align: middle;
  padding: 10px;
  font-family: Zen Maru Gothic;
  font-size: var(--xlrg-text-size);
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* Maps*/
.map-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 75px;
  gap: 20px;
  padding: 50px 75px 50px 75px;
  height: 100vh;
  box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
  .map-page {
    padding: 0px;
  }
}

.country-map {
  margin: auto;
  width: 70vw;
  max-height: 80vh;
}

@media only screen and (orientation: portrait) {
  .country-map {
    margin: 0;
    width: 100%;
  }
}

.mini-map {
  margin: 0px;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
}

@media only screen and (orientation: portrait) {
  .mini-map {
    margin: 0px auto;
    width: 80vw;
    height: 80vw;
  }
}

/* Region List */
.rgn-grp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.rgn-grp.none {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
}

@media only screen and (orientation: portrait) {
  .rgn-grp {
    text-align: center;
  }

  .rgn-grp.none {
    gap: 10px;
  }
}

.rgn-grp-text {
  vertical-align: bottom;
  padding: 0px 5px;
  color: var(--text-color);
  font-size: var(--lrg-text-size);
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
}

@media only screen and (orientation: portrait) {
  .rgn-grp-text {
    padding: 0px;
  }
}

.rgn-txt {
  vertical-align: bottom;
  padding: 5px;
  margin-bottom: 5px;
  font-size: var(--reg-text-size);
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none;
}

.locked-rgn-text {
  color: lightgray;
}

.visited-rgn-text {
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (orientation: portrait) {
  .visited-rgn-text {
    text-align: center;
  }
}

.visited-rgn-text:visited,
.visited-rgn-text:active {
  color: var(--text-color);
  background-color: white;
}

/* Buttons */
.img-tag,
.filter-opt,
.action-btn {
  padding: 2px 5px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: var(--reg-text-size);
  font-family: Zen Maru Gothic;
  text-align: center;
}

.filter-opt {
  border-color: rgba(var(--main-color));
  background-color: white;
  color: var(--text-color);
}

.filter-opt:hover,
.action-btn:hover {
  opacity: 50%;
}

.img-tag,
.filter-opt.active,
.action-btn {
  background-color: rgba(var(--main-color));
  color: white;
}

.img-tag {
  cursor: default;
}

.action-btn {
  padding: 5px 7px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

/* Popup */
.overlay {
  position: absolute;
  z-index: 10000;
  visibility: hidden;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-bg {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 40%;
}

.divider {
  margin: 0px auto;
  min-height: 2px;
  height: 2px;
  width: 100%;
  background-color: rgba(var(--main-color));
  color: rgba(var(--main-color));
  border-width: 0px;
}

.divider.filter {
  min-height: 1px;
  height: 1px;
  opacity: 50%
}

/* Other */
.arrow-up {
  transform: scaleY(-1);
}

.arrow-down {
  transform: scaleY(1);
}

@media only screen and (orientation: landscape) {
  .portrait-only {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .landscape-only {
    display: none;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.transparent {
  opacity: 0%;
}

.no-display {
  display: none;
}

.transform-transition {
  transition: transform 0.5s ease-in-out;
}

.opacity-transition {
  transition: opacity 0.5s ease-in-out;
}

.opacity-transform-transition {
  transition: opacity 0.5s ease-in-out, transform 0.25s ease-in-out, scale 0.25s ease-in-out;
}

.page-bg {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.floating-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  background-color: rgba(var(--main-color));
  z-index: 200;
}

.justify-end {
  justify-content: end;
  flex-basis: 100%
}