.main-title {
  font-family: American Typewriter;
  color: #1F271B;
  font-size: x-large;
  font-weight: bolder;
  vertical-align: bottom;
  margin-right: 8px;
  padding: 0px;
}

.sub-title {
  font-family: Gill Sans;
  color: #611C35;
  font-size: large;
  font-weight: lighter;
  vertical-align: bottom;
  padding: 0px;
}

.region-text {
  font-family: American Typewriter;
  color: black;
  font-size: large;
  font-weight: bold;
  vertical-align: bottom;
  padding: 0px;
}

.prefecture-no-hover {
  font-family: American Typewriter;
  color: black;
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  padding: 0px;
}

.prefecture-hover {
  font-family: American Typewriter;
  color: white;
  background-color: black;
  font-size: normal;
  font-weight: normal;
  vertical-align: bottom;
  padding: 0px;
}

.img-border {
  display: flex;
  border: 10px solid white;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 0px;
  /*max-height: 50% !important;
  max-width: 50% !important;*/
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}

.page-bg{
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 100px 75px;
  flex-direction: column;
}
