<div class="loader centered">
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <div class="loader-dot"></div>
    <img class="loader-icon centered no-display" style="margin-left: 10px; margin-top: 10px;" loading="lazy">
</div>

<!-- Error button -->
<div class="error-btn centered loader-text transparent opacity-transition">
    <p>Failed to fetch data. Try again?</p>
    <p>データアクセスに失敗しました。再試行する？</p>
</div>