.loader {
	width: 200px;
	height: 200px;
}

.loader-dot {
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	scale: 0;
	background-color: rgba(var(--main-color));
	animation: loader-grow-shrink 1.5s ease-in-out infinite alternate-reverse;
}

.loader div:nth-child(1) {
	top: 12.5px;
	left: 100px;
	animation-delay: 0s;
}

.loader div:nth-child(2) {
	top: 38.12816;
	left: 161.87184px;
	animation-delay: 0.1875s;
}

.loader div:nth-child(3) {
	top: 100px;
	left: 187.5px;
	animation-delay: 0.375s;
}

.loader div:nth-child(4) {
	top: 161.87184px;
	left: 161.87184px;
	animation-delay: 0.5625s;
}

.loader div:nth-child(5) {
	top: 187.5px;
	left: 100px;
	animation-delay: 0.75s;
}

.loader div:nth-child(6) {
	top: 161.87184px;
	left: 38.12816;
	animation-delay: 0.9375s;
}

.loader div:nth-child(7) {
	top: 100px;
	left: 12.5px;
	animation-delay: 1.125s;
}

.loader div:nth-child(8) {
	top: 38.12816;
	left: 38.12816;
	animation-delay: 1.3125s;
}

.loader div:nth-child(9) {
	top: 12.5px;
	left: 100px;
	animation-delay: 1.5s;
}

@keyframes loader-grow-shrink {

	0%,
	100% {
		scale: 0%;
	}

	50% {
		scale: 100%;
	}
}

.error-btn {
	cursor: pointer;
	width: 30vw;
	border-radius: 5px;
	background-color: white;
	border-style: solid;
	border-color: rgba(var(--main-color));
	text-align: center;
}