<body id="loader" class="centered opacity-transition">
    <div class="centered">
        <div id="load0" class="loader-dot dot-0"></div>
        <div id="load1" class="loader-dot dot-1"></div>
        <div id="load2" class="loader-dot dot-2"></div>
        <div id="load3" class="loader-dot dot-3"></div>
        <div id="load4" class="loader-dot dot-4"></div>
        <div id="load5" class="loader-dot dot-5"></div>
        <div id="load6" class="loader-dot dot-6"></div>
        <div id="load7" class="loader-dot dot-7"></div>
        <div id="load8" class="loader-dot dot-8"></div>
        <img id="load-icon" class="start-icon img centered no-display" style="margin-left: 10px; margin-top: 10px;">
    </div>
    
    <!-- Error button -->
    <div id="error-btn" class="error-btn centered loader-text">
        <p>Failed to fetch data. Try again?</p>
        <p>データアクセスに失敗しました。再試行する？</p>
    </div>
    <!-- <script type="module" src="loader.js"></script> -->
    <link rel="stylesheet" type="text/css" href="components/loader/loader.css">
</body>