.rgn-drop-down {
    align-self: center;
    position: fixed;
    top: 110px;
    max-height: 250px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 3px 0px #00000050;
    background-color: white;
    overflow-y: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .rgn-drop-down {
      top: 95px;
    }
  }