.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

@media only screen and (orientation: portrait) {
  .gallery {
    overflow: hidden;
    margin-top: 0px;
  }
}

.floating-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  background-color: rgba(var(--main-color));
  z-index: 150;
}