<div id="gallery-view">
    <region-info></region-info>
    <div id="gallery" class="gallery opacity-transition"></div>
    <button id="to-top-btn" class="floating-btn opacity-transform-transition arrow-up no-display">
        <i class="large-icon fa fa-angle-double-down"></i>
    </button>
    <fullscreen-component style="z-index: 100;"></fullscreen-component>
    <region-dropdown class="no-display"></region-dropdown>
</div>
<link rel="stylesheet" type="text/css" href="views/gallery-view/gallery-view.css">