<div id="background" class="portrait-only popup-bg"></div>
<div id="drawer" class="base-drawer drawer">
    <button id="pic-info-close-btn" class="close-btn portrait-only" aria-label="Hide picture info">
        <i class="large-icon fa fa-close"></i>
    </button>
    <div class="drawer-handle-container">
        <hr class="drawer-handle" />
    </div>
    <div id="contents" class="flex-column regular-text">
        <div id="date-english"></div>
        <div>
            <span id="city-english"> </span>
            <button id="search-eng" class="fa fa-search text-main-color" aria-label="Search location in English"></button>
        </div>
        <div id="caption-english"></div>
        <hr class="divider">
        <div id="date-japanese"></div>
        <div>
            <span id="city-japanese"> </span>
            <button id="search-jp" class="fa fa-search text-main-color" aria-label="Search location in Japanese"></button>
        </div>
        <div id="caption-japanese"></div>
        <hr class="divider">
        <div id="camera-info"></div>
        <div id="lens-info"></div>
        <div id="technical-info" class="flex-row"></div>
        <div id="img-tags" class="tag-list"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="views/gallery-view/components/drawer/pic-info/pic-info.css">