<div id="pic-info-bg" class="portrait-only popup-bg"></div>
<div id="pic-info-drawer" class="base-drawer pic-info-drawer">
    <button id="pic-info-close-btn" class="close-btn portrait-only">
        <i class="large-icon fa fa-close"></i>
    </button>
    <div class="drawer-handle-container">
        <hr class="drawer-handle" />
    </div>
    <div id="pic-info-details" class="flex-column regular-text">
        <div id="fullscreen-eng-date"></div>
        <div>
            <span id="fullscreen-eng-city"> </span>
            <button id="search-eng" class="fa fa-search text-main-color"></button>
        </div>
        <div id="fullscreen-eng-caption"></div>
        <hr class="divider">
        <div id="fullscreen-jp-date"></div>
        <div>
            <span id="fullscreen-jp-city"> </span>
            <button id="search-jp" class="fa fa-search text-main-color"></button>
        </div>
        <div id="fullscreen-jp-caption"></div>
        <hr class="divider">
        <div id="camera-info"></div>
        <div id="lens-info"></div>
        <div id="technical-info" class="flex-row"></div>
        <div id="img-tags" class="tag-list"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="views/gallery-view/components/drawer/base-drawer/base-drawer.css">
<link rel="stylesheet" type="text/css" href="views/gallery-view/components/drawer/pic-info/pic-info.css">