.rgn-info-drawer {
    position: relative;
    width: 100%;
    max-height: 50vh;
    padding: 20px 20px 30px 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 8px 15px -10px #00000050;
    transition: top 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

@media only screen and (orientation: portrait) {
    .rgn-info-drawer {
        max-height: 60vh;
        padding: 20px 20px 10px 20px;
    }
}

.mini-map {
    margin: 0px;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

@media only screen and (orientation: portrait) {
    .mini-map {
        margin: 0px auto;
        width: 80vw;
        height: 80vw;
    }
}