<div id="rgn-info-wrapper" class="opacity-transition">
    <div id="rgn-info-bg" class="popup-bg opacity-transition portrait-only"></div>
    <div id="rgn-info-drawer" class="base-drawer rgn-info-drawer opacity-transition">
        <div class="rgn-info">
            <object id="country-map-mini" type="image/svg+xml" class="mini-map opacity-transition"></object>
            <div id="rgn-info-txt" class="flex-column regular-text rgn-info-text">
                <div id="rgn-info-dates">
                    <div id="dates-title" class="bold-text capitalize-text"></div>
                    <div id="rgn-dates"></div>
                </div>
                <div id="rgn-info-areas">
                    <div id="areas-title" class="bold-text capitalize-text"></div>
                    <div id="rgn-areas"></div>
                </div>
                <div id="rgn-info-desc">
                    <div id="description-title" class="bold-text capitalize-text"></div>
                    <div id="rgn-desc">
                        <div id="rgn-desc-eng"></div>
                        <div id="rgn-desc-jp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-handle-container">
            <hr class="drawer-handle" />
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="views/gallery-view/components/drawer/region-info/region-info.css">