<div class="wrapper">
    <div class="popup-bg opacity-transition transparent"></div>
    <div class="popup centered transparent">
        <button class="close-btn" aria-label="Close site info popup">
            <i class="large-icon fa fa-close"></i>
        </button>
        <div class="flex-column opacity-transition popup-content transparent no-display">
            <div class="regular-text">
                <p class="bold-text">About this site</p>
                <p>I was in Japan on exchange in September 2022 - April 2023. After Japan, I decided to travel around to
                    Taiwan, Australia, and New Zealand in April and May 2023.
                    This site contains the highlights of that trip and subsequent trips to Japan that I made.
                    I hope you enjoy viewing my memories, and maybe you'll get inspired for some travel yourself!</p>
                <p>Design, coding, and photography: Katherine (Katie) Lu</p>
                <p>Thank you to my mom, dad, Benson, Ricky, Kazu, and other friends who gave me advice and feedback in
                    the development of the site.</p>
                <p>※ For privacy reasons, I will not upload close-up pictures of myself or my friends to this page.</p>
                <button class="action-btn">
                    <i class="fa fa-github"></i>
                    View Github Repository</button>
            </div>
            <div class="regular-text">
                <p class="bold-text">このサイトについて</p>
                <p>留学のため、2022年9月から2023年4月まで日本に滞在しました。出国した後、台湾、オーストラリアとニュージーランドの旅行もした。
                    このウェブサイトでは、皆さんに私の旅行のハイライトを紹介したいと思います。
                    私の思い出を見て、将来の旅行のインスピレーションになるかもしれません！
                </p>
                <p>デザイン・プログラミング・写真：ルー・キャサリン（ケイティー）</p>
                <p>このサイトのデザインと修正に協力してくれた母、父、ベンソン、リッキー、かず、他の友達に深く感謝します。</p>
                <p>※プライバシーのため、自分と知り合いの写真を掲載しません。</p>
                <button class="action-btn">
                    <i class="fa fa-github"></i>
                    Githubリポジトリへ</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="components/popup/base-popup/base-popup.css">