.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    flex-wrap: nowrap;
    overflow-y: auto;
    background-color: white;
    padding: 75px 0px;
    width: 100svw;
    height: 100svh;
    box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
    .start-screen {
        gap: 15px;
        padding: 50px 0px;
    }
}

.start-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto 30px;
    cursor: pointer;
    text-align: start;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Zen Maru Gothic;
    font-size: var(--xlrg-text-size);
    font-weight: normal;
    text-transform: uppercase;
    
    span {
        text-align: center;
    }
}

@media only screen and (orientation: portrait) and (max-width: 768px)  {
    .start-btn {
        font-size: var(--lrg-text-size);
    }
}

.start-btn.animated {
    color: white;
}

@media only screen and (orientation: portrait) {
    .start-btn {
        flex-direction: column;
        gap: 5px;
    }
}

.start-btn.jp {
    box-shadow: inset 0 0 rgba(var(--jp-color));
}

.start-btn.jp.animated {
    box-shadow: inset 100vw 0 rgba(var(--jp-color));
}

.start-btn.tw {
    box-shadow: inset 0 0 rgba(var(--tw-color));
}

.start-btn.tw.animated {
    box-shadow: inset 100vw 0 rgba(var(--tw-color));
}

.start-btn.au {
    box-shadow: inset 0 0 rgba(var(--au-color));
}

.start-btn.au.animated {
    box-shadow: inset 100vw 0 rgba(var(--au-color));
}

.start-btn.nz {
    box-shadow: inset 0 0 rgba(var(--nz-color));
}

.start-btn.nz.animated {
    box-shadow: inset 100vw 0 rgba(var(--nz-color));
}

.start-icon {
    height: 30px;
    width: 30px;
}

img.start-icon {
    position: absolute;
}

.start-icon.animated {
    animation: spin-animation 0.5s ease-out 1;
}

@keyframes spin-animation {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}