
.map-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 75px;
    gap: 20px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  @media only screen and (orientation: portrait) {
    .map-view {
      padding: 0px;
      justify-content: start;
      padding-top: 10vh;
    }
  }

.country-map {
    margin: auto;
    width: 70vw;
    max-height: 80vh;
}

@media only screen and (orientation: portrait) {
    .country-map {
        margin: 0;
        width: 100%;
        max-height: 65vh;
    }
}

#main-title {
    vertical-align: bottom;
    color: var(--text-color);
    font-family: Zen Maru Gothic;
    font-size: var(--xlrg-text-size);
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    opacity: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 rgba(var(--main-color));
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
}

@media only screen and (orientation: portrait) {
    #main-title {
        margin: 0px 50px;
    }
}

#main-title:hover {
    color: white;
    box-shadow: inset 100vw 0 0 0 rgba(var(--main-color));
}