<div class="map-view opacity-transition transparent">
    <div id="map-control">
        <div id="map-container">
            <object id="country-map" type="image/svg+xml" class="scale-1" alt="Map - 地図"></object>
        </div>
        <div id="zoom-buttons">
            <button id="zoom-in" class="text-main-color color-transition" aria-label="Zoom into map">
                <i class="large-icon fa fa-search-plus"></i>
            </button>
            <button id="zoom-out" class="text-main-color disabled color-transition" aria-label="Zoom out of map">
                <i class="large-icon fa fa-search-minus"></i>
            </button>
        </div>
    </div>
    <button id="main-title">
        <span id="main-title-text"></span>
        <i class="text-main-color color-transition fa fa-arrow-right"></i>
    </button>
</div>
<link rel="stylesheet" type="text/css" href="views/map-view/map-view.css">