#dropdown {
	align-self: center;
	position: fixed;
	max-height: 250px;
	max-width: 500px;
	padding: 0px 20px 20px 20px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 5px 3px 0px #00000050;
	background-color: white;
	overflow-y: auto;
	z-index: 100;
}

@media only screen and (orientation: portrait) {
	#dropdown {
		align-items: center;
	}
}

#background {
	z-index: 100;
	pointer-events: all !important;
}

.rgn-grp-text {
	vertical-align: bottom;
	padding: 0px 5px;
	color: var(--text-color);
	font-size: var(--lrg-text-size);
	font-weight: bold;
	text-transform: uppercase;
	word-wrap: break-word;
}

@media only screen and (orientation: portrait) {
	.rgn-grp-text {
		padding: 0px;
	}
}

.rgn-txt {
	vertical-align: bottom;
	padding: 5px;
	margin-bottom: 5px;
	width: 100%;
	font-family: Zen Maru Gothic;
	font-size: var(--reg-text-size);
	font-weight: normal;
	text-transform: capitalize;
	text-decoration: none;
	text-align: start;
	box-shadow: inset 0 0 0 0 rgba(var(--main-color));
	transition: color .3s ease-in-out, box-shadow .5s ease-in-out;
	border-radius: 5px;
}

.rgn-txt:hover,
.rgn-txt.active {
	color: white;
	box-shadow: inset 400px 0 0 0 rgba(var(--main-color));
}

.rgn-text:visited,
.rgn-text:active {
	color: var(--text-color);
	background-color: white;
}