<div class="frame opacity-transform-transition transparent pic-rotate">
    <div class="pin">
        <div class="shine"></div>
        <i class="star no-display fa fa-star"></i>
    </div>

    <div class="img-wrapper">
        <img class="transparent opacity-transition" />
    </div>

    <div class="caption">
        <div class="polaroid-date">
            <span id="date-en" class="date-text"></span>
            <span id="date-en" class="date-text"></span>
        </div>
        <div class="caption-text-container">
            <span id="caption-en" class="caption-text one-line-text"></span>
            <span id="caption-jp" class="caption-text one-line-text"></span>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">