.frame {
  display: flex;
  position: relative;
  padding: 25px 10px 10px 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  width: 255px;
  height: 315px;
  max-width: 255px;
  max-height: 315px;
  box-shadow: inset 4px 5px 20px 5px #fffaf050, 8px 8px 20px #00000050;
  background-color: white;
  cursor: pointer;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: saturate(0.9);
  width: 230px;
  height: 235px;
}

.img-wrapper.blank {
  background-color: rgb(220 220 220);
  font-size: var(--lrg-text-size);
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}

.pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgba(var(--main-color));
  box-shadow: 0px 4px 5px 1px #00000050, inset 1px -1px 7px 1px #00000002;

  .shine {
    position: fixed;
    top: 8px;
    margin-left: 2px;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 0px 0 6px 3px #FFFFFF;
    background-color: #AAAAAA;
    z-index: 100;
  }
}

.pic-rotate.left-1 {
  transform: rotate(4deg);
}

.pic-rotate.left-2 {
  transform: rotate(6deg);
}

.pic-rotate.left-3 {
  transform: rotate(5deg);
}

.pic-rotate.left-4 {
  transform: rotate(8deg);
}

.pic-rotate.right-1 {
  transform: rotate(-4deg);
}

.pic-rotate.right-2 {
  transform: rotate(-6deg);
}

.pic-rotate.right-3 {
  transform: rotate(-5deg);
}

.pic-rotate.right-4 {
  transform: rotate(-8deg);
}

.pic-rotate:hover {
  transform: rotate(0deg) scale(120%);
  z-index: 100;
}