<div id="background" class="portrait-only popup-bg"></div>
<div id="drawer" class="base-drawer drawer">
    <button class="close-btn portrait-only" aria-label="Hide picture info">
        <i class="large-icon fa fa-close"></i>
    </button>
    <div class="drawer-handle-wrapper">
        <hr class="drawer-handle" />
    </div>
    <div id="contents" class="flex-column regular-text">
        <div id="date-en"></div>
        <div>
            <span id="city-en"> </span>
            <button id="search-en" class="fa fa-search text-main-color" aria-label="Search location in English"></button>
        </div>
        <div id="caption-en"></div>
        <hr class="divider">
        <div id="date-jp"></div>
        <div>
            <span id="city-jp"> </span>
            <button id="search-jp" class="fa fa-search text-main-color" aria-label="Search location in Japanese"></button>
        </div>
        <div id="caption-jp"></div>
        <hr class="divider">
        <div id="camera-info"></div>
        <div id="lens-info"></div>
        <div id="technical-info" class="flex-row"></div>
        <div id="img-tags" class="tag-list"></div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="views/fullscreen/components/pic-info/pic-info.css">