<div>
    <div id="pic-info-bg" class="portrait-only popup-bg transparent"></div>
    <div id="pic-info-drawer" class="pic-info-container">
        <button id="pic-info-close-btn" class="large-icon close-btn portrait-only">&#xf00d</button>
        <div id="pic-info-handle" style="align-self: center;">
            <hr class="drawer-handle" />
        </div>
        <div id="pic-info-details" class="flex-column pic-info-details caption-text">
            <div id="fullscreen-eng-date"></div>
            <div><span id="fullscreen-eng-city"></span> <span id="search-eng" class="inline-icon">&#xf002</span>
            </div>
            <div id="fullscreen-eng-caption"></div>
            <hr class="divider">
            <div id="fullscreen-jp-date"></div>
            <div><span id="fullscreen-jp-city"></span> <span id="search-jp" class="inline-icon">&#xf002</span>
            </div>
            <div id="fullscreen-jp-caption"></div>
            <hr class="divider">
            <div id="camera-info"></div>
            <div id="lens-info"></div>
            <div id="technical-info" class="flex-row"></div>
            <div id="img-tags" class="tag-list"></div>
        </div>
    </div>
	<link rel="stylesheet" type="text/css" href="components/pic-info/pic-info.css">
</div>