<div id="wrapper" class="opacity-transition">
    <div id="background" class="popup-bg opacity-transition portrait-only"></div>
    <div id="drawer" class="base-drawer drawer opacity-transition">
        <div class="rgn-info">
            <object type="image/svg+xml" class="mini-map opacity-transition"></object>
            <div id="rgn-info-txt" class="flex-column regular-text rgn-info-text">
                <div id="dates-section">
                    <div id="dates-title" class="bold-text capitalize-text"></div>
                    <div id="dates-text"></div>
                </div>
                <div id="areas-section">
                    <div id="areas-title" class="bold-text capitalize-text"></div>
                    <div id="areas-text"></div>
                </div>
                <div id="description-section">
                    <div id="description-title" class="bold-text capitalize-text"></div>
                    <div id="description-en"></div>
                    <div id="description-jp"></div>
                </div>
            </div>
        </div>
        <div class="drawer-handle-wrapper">
            <hr class="drawer-handle" />
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="views/gallery-view/components/region-info/region-info.css">