/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-area {
    gap: 15px;
    overflow-y: auto;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-color: rgba(var(--main-color));
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

/* When the checkbox is checked, add a background */
.container input:checked~.checkmark {
    background-color: rgba(var(--main-color));
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 10px;
    top: 3px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text-input {
    height: 2em;
    width: 100%;
    border-color: rgba(var(--main-color));
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-family: Zen Maru Gothic;
    font-size: var(--reg-text-size);
    margin-bottom: 10px;
    padding-left: 10px;
}

.text-input:focus-visible {
    outline: none;
    border-width: 2px;
}

.clear-icon {
    margin-left: -30px;
    margin-top: -10px;
    font-family: FontAwesome;
    color: var(--text-color);
    font-size: var(--reg-text-size);
}

#filter-title {
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    text-align: center;
}

#filters {
    height: 100%;
    gap: 15px;
    overflow-y: auto;
}

#filter-btns {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    cursor: pointer;
}