<body>
    <div class="polaroid-frame opacity-transform-transition transparent pic-rotate">
        <div class="polaroid-pin">
            <div class="polaroid-pin-shine"></div>
            <div class="no-display polaroid-pin-star">&#xf005</div>
        </div>
    
        <div class="polaroid-img">
            <img class="transparent opacity-transition"/>
        </div>
    
        <div class="polaroid-caption">
            <div class="polaroid-date">
                <span id="en-date" class="date-text"></span>
                <span id="jp-date" class="date-text"></span>
            </div>
            <div class="polaroid-caption-text-container">
                <span id="en-caption" class="caption-text one-line-text"></span>
                <span id="jp-caption" class="caption-text one-line-text"></span>
            </div>
        </div>
    </div>
    <script src="polaroid.js"></script>
</body>